{%- liquid
  assign sid = section.id
  assign se_stts = section.settings -%}

<div class="password-main">
   <div class="password-main__inner">
      <div class="t4s-container t4s-text-center">
         <div class="password-content">
                <h2 class="password-content__title">{{se_stts.heading}}</h2>
                <p>{{se_stts.content}}</p>

                 <!-- code mail -->

                 {%- if se_stts.social == '1' -%}<!-- code social -->
                 {%- elsif se_stts.social == '2' -%}{%- endif -%}
               </div>
         </div>
      </div>
    </div>
</div>

{%- schema -%}
  {
    "name": "Password",
     "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Coming Soon!"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "We are about to go public so be sure to root on us and check back in anytime!<br> Can't wait to have you!"
      }/*,
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Your email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
      {
        "type": "text",
        "id": "signup_form_success",
        "label": "Signup form success",
        "default": "We will send you an email right before we open!"
      },
      {
        "type": "select",
        "id": "social",
        "options": [
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "1",
            "label": "Share"
          },
          {
            "value": "2",
            "label": "Follow"
          }
        ],
        "label": "Social:",
        "default": "2"
      }*/
     ]
  }
{% endschema %}