{{ 'promise-section.css' | asset_url | stylesheet_tag }}  

<div class="cards">
    <div class="card">100% Certified Jewellery</div>
    <div class="card">100% Refund</div>
    <div class="card">Lifetime Exchange & Buyback</div>
    <div class="card">Free Shipping & Insurance</div>
    <div class="card">Try Jewellery at Home</div>
    <div class="card">Physical Store Near You</div>
  </div>
  


{% schema %}
{
"name": "Promise",
"settings": [
{
"id": "section-heading",
"type": "text",
"label": "Heading 1"
},
{
"id": "section-large-heading",
"type": "text",
"label": "Heading 2"
},
{
"id": "description",
"type": "textarea",
"label": "Description"
},
{
"id": "view-btn-link",
"type": "url",
"label": "Button URL"
},
{
"id": "view-btn",
"type": "text",
"label": "Button name"
}
],
"presets": [
{
"name": "Promise Section",
"category": "Promise"
}
],
"blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "id": "linkurl",
          "type": "url",
          "label": "URL link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Link text"
        }
      ]
    },
    {
      "type": "custom-text",
      "name": "Custom Text",
      "settings": [
        {
          "id": "custom-text-field",
          "type": "textarea",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}