{{ 'promise-section.css' | asset_url | stylesheet_tag }}  

<div class="cards">
    <div class="card">100% Certified Jewellery</div>
    <div class="card">100% Refund</div>
    <div class="card">Lifetime Exchange & Buyback</div>
    <div class="card">Free Shipping & Insurance</div>
    <div class="card">Try Jewellery at Home</div>
    <div class="card">Physical Store Near You</div>
  </div>
  


{% schema %}
{
"name": "Promise",
"settings": [
],
"presets": [
{
"name": "Promise Section",
"category": "Promise"
}
],
"blocks": [
      {
        "type": "cards",
        "name": "Cards",
        "settings": [
          {
            "type": "header",
            "content": "Cards Details" 
          },
          {
            "type": "text",
            "id": "title_first",
            "label": "Title First Line",
            "info": "e.g; 100% Certified"
          },
          {
            "type": "header",
            "content": "Description"
          },
          {
             "type": "richtext",
             "id": "text",
             "label": "Description"
           },
           {
            "type": "url",
            "id": "url",
            "label": "Select Readmore Link",
            "default": "/"
          },
          {
            "type": "text",
            "id": "readmore_link_text",
            "label": "Enter Readmore Link Text",
            "default": "Read more"
          }
        ]
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}