@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
#followers{
    font-family: "Roboto Mono";
    color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fef6f4;
  }

#followers .ftext {
  max-width: 400px;
}
#followers .ftext h3 {
  text-align: left;
}
/* body {
  font-family: "Roboto Mono";
  color: #333;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fef6f4;
} */
#followers .fcontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#followers .fcontainer .fcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#followers .fcontainer .fcard i {
  color: #333;
  font-size: 50px;
}
#followers .fcontainer .fcard p.counter {
  font-size: 60px;
  margin: 5px;
}
#followers .fcontainer .fcard p.label {
  margin: 5px;
}
@media screen and (max-width: 600px) {
  body {
    background: #fef6f4;
  }
  #followers .fcontainer {
    flex-direction: column;
  }
  #followers .fcard {
    padding: 20px;
  }
}
