.card {
  /* background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem; */
  height: 248px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgb(161 161 161 / 50%);
  font-family: Muli, Arial, sans-serif;
  float: left;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 500;
  margin-bottom: 30px;
}

.cards {
  max-width: var(--wrapper-mw);
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
/* Hover content starts */
.promise-section .hover-content{
width: 100%;
background: #fff;
position: absolute;
left: 0;
bottom: 0;
z-index: 2;
transition: .40s all ease-out;
transform: translateY(100%);
-webkit-transform: translateY(100%);
}
.promise-section .hover-content.active{
transform: translateY(0);
transition: .40s all ease-out;
-webkit-transform: translateY(0);
-webkit-transition: .40s all ease-out;
}
.promise-section .hover-content .hover-inner {
padding: 15px;
font-family: Muli,Arial,sans-serif;
font-weight: 500;
text-align: left;
height: 248px;
}
.promise-section .hover-content .hover-inner .hover-title {
font-size: 18px;
line-height: 24px;
color: #de9e82;
text-transform: uppercase;
}
.promise-section .hover-content .hover-inner .hover-title:after {
content: '';
display: block;
width: 279px;
height: 2px;
border: solid 1px #fce1e6;
margin: 5px 0;
text-align: center;
}
.promise-section .hover-content .hover-inner .hover-para {
font-size: 13px;
line-height: 19px;
line-height: 18px;
color: #4a4a4a;
}
.promise-section .hover-content .hover-inner .hover-para ul {
list-style: none;
padding-left: 15px;
}
.promise-section .hover-content .hover-inner .hover-para ul p {
margin-left: -15px;
}
.promise-section .hover-content .hover-inner .hover-para li {
margin-bottom: 7px;
}
.promise-section .hover-content .hover-inner .hover-para li::before {
content: "";
color: #f7c2cb;
display: inline-block;
width: 1em;
margin-left: -15px;
height: 5px;
background: #f7c3cb;
border-radius: 50%;
margin-right: 10px;
}
.promise-section .hover-content .hover-inner .hover-para .prcs-d {
color: #de9e82;
}
.promise-section .hover-content .hover-inner .hover-para p {
margin: 0 0 10px;
}
.prcs-dl, .prcs-d {
cursor: pointer;
}

/* Hover content ends */

/* Icons delcarations starts */

.cards .icon {
  background: url(//kinnpimg1.bluestone.com/resources/themes/bluestone/images/new/new-icons-sprite.png)
      no-repeat 0 0;
  display: inline-block;
  width: 101px;
  height: 100px;
  margin-top: 50px;
}

.promise-section .cards .certified .icon {
  width: 113px;
  background-position: 2px 0;
}
.promise-section .cards .refund .icon {
  width: 80px;
  background-position: -116px 11px;
}
.promise-section .cards .exchange .icon {
background-position: -188px 10px;
}
.promise-section .cards .shipping .icon {
width: 130px;
  background-position: 3px -95px;
}
.promise-section .cards .tah .icon {
width: 97px;
  background-position: -124px -91px;
}
.promise-section .cards .physical-store .icon {
width: 115px;
background-position: -211px -94px;
}


/* Icons delcarations ends */

.cards .store-text {
  color: #35669f;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
      grid-template-columns: repeat(3, 1fr);
  }
}
